<!-- IF S_TYPE == 1 -->
<div class="panel">
	<div class="inner"><span class="corners-top"><span></span></span>

	<h3>{L_CONFIRMATION}</h3>
	<p>{L_CONFIRM_EXPLAIN}</p>

	<fieldset class="fields2">
<!-- ENDIF -->
<tr id="captcha">
	<td colspan=2>
		<dd>{NIKITA_SP_IMAGE}</dd>
  </td>
</tr>
<tr>
  <td>
		<dt><label id="confirm_code">{L_CONFIRM_CODE}:*</label></dt>
		<dt><label>{L_CONFIRM_CODE_EXPLAIN}</label></dt>
	</td>
  <td>
		<dd><input type="text" class="inputbox autowidth" size="10" name="answer_field" value="" title="Captcha" /></dd>
  </td>
</tr>
<!-- IF S_TYPE == 1 -->
	</fieldset>
	<span class="corners-bottom"><span></span></span></div>
</div>
<!-- ENDIF -->
